:root {
  --bg: #000;
  --clock-color: #fff;
}

/* ====== Базовый reset ====== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  touch-action: manipulation;
  background: var(--bg);
  color: var(--clock-color);
  font-family: -apple-system, system-ui, sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

/* ====== Секретная сетка ====== */
.grid {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  opacity: 0.3; /* более заметная */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

/* ====== Фейковые часы ====== */
.clock {
  display: none; /* по умолчанию скрыты */
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clock-color);
  text-align: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.clock .time {
  font-size: 72px;
  margin-top: 4px; /* отступ от даты */
}

.clock .date {
  font-size: 18px;
  opacity: 0.7;
}
