* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  color: white;

  overflow: hidden;

  touch-action: none;
  overscroll-behavior: none;

  font-family: -apple-system, system-ui, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Секретный экран */
.grid {
  position: fixed;
  inset: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 48px;
  opacity: 0.05;

  user-select: none;
}

/* Часы */
.clock {
  display: none;
  font-size: 72px;
  letter-spacing: 2px;
}
