html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  color: white;
  font-family: system-ui, sans-serif;

  overflow: hidden;
  touch-action: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Секретный экран */
.grid {
  position: fixed;
  inset: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 48px;
  color: white;
  opacity: 0.08; /* еле заметные цифры */

  user-select: none;
}

/* Фейковые часы */
.clock {
  display: none;
  font-size: 72px;
  letter-spacing: 2px;
}
