:root {
  --bg: #000;
  --clock-color: #fff;
  --aod-time-color: #b8b8b8; /* цвет часов для AOD */
}

/* ====== Reset ====== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  touch-action: manipulation;
  background: #000;
  color: var(--clock-color);
  font-family: -apple-system, system-ui, sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

/* ====== Секретная сетка ====== */
.grid {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  opacity: 0.25;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  -webkit-user-select: none;
  user-select: none;
}

/* ====== Фейковые часы ====== */
.clock {
  display: none;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* верхняя часть экрана */
  align-items: center;         /* горизонтально по центру */
  color: var(--clock-color);
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  padding-top: 20px; /* верхний отступ */
}

.clock .date {
  font-size: 22px;
  font-weight: 500; /* чуть жирнее */
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  margin-bottom: 8px;
  text-align: center;
}

.clock .time {
  font-size: 83px;       /* размер часов */
  font-weight: 600;      /* жирнее */
  letter-spacing: 0;
  color: #b8b8b8;        /* цвет часов */
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  text-align: center;    /* горизонтально по центру */
  line-height: 1;
  max-width: 100%;       /* занимает максимум экрана, но не больше */
  overflow: hidden;      /* предотвращает выезд за границы */
  white-space: nowrap;   /* текст не переносится */
}

/* ====== Always On Display ====== */
.clock.aod {
  justify-content: flex-start; /* верхняя часть экрана */
  align-items: center;         /* горизонтально центр */
  padding-top: 20px;
}

.clock.aod .time {
  color: #b8b8b8;      /* цвет часов */
  font-size: 83px;      /* размер часов */
  font-weight: 600;     /* жирнее */
  text-align: center;   /* горизонтально центр */
  max-width: 100%;      /* полностью помещается */
  overflow: hidden;
  white-space: nowrap;
}

.clock.aod .date {
  font-size: 22px;
  font-weight: 500;      /* чуть жирнее */
  color: var(--aod-time-color);
  margin-bottom: 10px;
  text-align: center;
}
